<mat-card>
  <div class="card-header">
    <div>
      <h3 mat-card-title>
        {{ order.name }}
      </h3>
      <p mat-card-subtitle>Ordered: {{ order.orderDate }}</p>
    </div>
    <div>
      <h3 mat-card-title class="secondary-title">
        {{ order.shippingMethod }}
      </h3>
      <p mat-card-subtitle>Last brokered: {{ order.lastBrokered }}</p>
    </div>
  </div>
  <mat-card-content>
    <div class="product-content">
      <div class="product-details">
        <img src="/assets/product.png" />
        <div>
          <p class="p-code">{{ order.productCode }}</p>
          <p class="p-desc">{{ order.productDescription }}</p>
          <p class="p-variant">{{ order.productVariant }}</p>
        </div>
      </div>
      <div>
        {{ order.stockQuantity }} piece{{ order.stockQuantity > 1 && "s" }} in
        stock
      </div>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="card-footer">
    <div>
      <span class="label">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="currentColor"
        >
          <path
            d="M446-80q-15 0-30-6t-27-18L103-390q-12-12-17.5-26.5T80-446q0-15 5.5-30t17.5-27l352-353q11-11 26-17.5t31-6.5h287q33 0 56.5 23.5T879-800v287q0 16-6 30.5T856-457L503-104q-12 12-27 18t-30 6Zm0-80 353-354v-286H513L160-446l286 286Zm253-480q25 0 42.5-17.5T759-700q0-25-17.5-42.5T699-760q-25 0-42.5 17.5T639-700q0 25 17.5 42.5T699-640ZM480-480Z"
          />
        </svg>
        {{ order.category[0] }}
      </span>
    </div>
    <button mat-flat-button color="primary">Pack</button>
  </div>
</mat-card>
